.avatar {
    width: 350px;
    height: 400px;
    position: relative;
    
    left: 40%;
    top: 3%;

    border-top-left-radius: 40%;
    border-top-right-radius: 40%;

    box-shadow: rgba(0, 0, 0, 0.644) 0px 19px 38px, rgba(0, 0, 0, 0.479) 0px 15px 12px;
    margin-bottom: 200px;

}

.avatar img {
    object-fit: cover;
    width: 100%;
    height: 100%;

    border-top-left-radius: 40%;
    border-top-right-radius: 40%;
}

.avatar h2 {
    margin-top: -10%;
    text-align: center;
    right: 2%;
    position: relative;

    
    color: #2648a7;
    font-size: 105px;
    font-weight: normal;
    line-height: 50px;
}

.avatar p {
    margin-top: -15%;
    text-align: center;
    font-size: 25px;

    color: #182957;
    text-align: center;
    text-shadow: 0 1px 1px #fff;
}

* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

.carousel {
    margin-top: 15%;
    position: relative;
    
    background: #EEE;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}



@media screen and (min-width: 100%) {
    .carousel img {
        width: 100%;
        height: 800px;
    }
}

.about_container {
    display: flex;
}

.about {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 15%;

    border-radius: 5%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about h2 {
    padding-top: 7%;
    text-align: center;
}

.about p {
    text-align: left;
    color: rgb(58, 58, 58);
    font-size: 20px;
    margin-left: 25%;
}


.about_2 {
    margin-top: 15%;
    margin-left: 5%;
    margin-bottom: 15%;

    border-radius: 3%;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.about_2 h2 {
    padding-top: 0%;
    text-align: center;
}

.about_2 p {
    text-align: left;
    color: rgb(58, 58, 58);
    font-size: 20px;
    padding-left: 3%;
}

.typewriter {
    width: 250px;
}

.typewriter h1 {
    animation: typewriter 3s linear infinite;
  }
  @-webkit-keyframes typewriter {
    0% { color: rgba(40, 61, 255, 1); }
    50% { color: rgba(40, 61, 255, 0); }
    100% { color: rgba(40, 61, 255, 1); }
  }
  @keyframes typewriter {
    0% { color: rgba(40, 61, 255, 1); }
    50% { color: rgba(40, 61, 255, 0); }
    100% { color: rgba(40, 61, 255, 1); }
  }



footer {
    background-color: #182957;
    position: relative;
    width: 100%;
    height: 70px;
    
    border: 2px #182957 solid;
}

footer p {
    color: #EEE;
    text-align: center;
}